.form-row {
    display: flex;
    gap: 15px;
    margin-top: 4%;
}
.full-input {
    width: 100%;
    padding: 10px;
}
.half-input {
    width: 50%;
    padding: 10px;
}
.cart-items{
    margin-left: 2.5%;
    margin-bottom: 25px;
}
.select-wrapper-country {
    position: relative;
    width: 55%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
}
.select.half-input{
    color: #999;
}
.select-wrapper-country select {
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
}
.select-wrapper-country::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
    transform: translateY(-50%);
}
#shipping-details-bottom {
    margin-bottom: 5%;
}
.shipping-choice {
    display: flex;      
    gap: 15px;           
    margin-top: 5%;
    margin-bottom: 5%;
}
.ship-option {
    display: flex;
    align-items: center;
    flex: 1;             
    text-align: left;
    padding: 12px 15px;
    border: 2px solid #bebebe;
    cursor: pointer;
    background-color: #fff;
    position: relative;    
    gap: 10px;
}
.ship-content {
    display: flex;
    flex-direction: column;
}
.ship-title {
    font-size: 14px;
}
.ship-subtitle {
    font-size: 10px;
    color: #666;
    margin-top: 5%;
}
.ship-option input[type="radio"] {
    display: block;
    width: 18px;
    height: 18px;
}
.ship-option:hover {
    background-color: #f0f0f0;
}
.ship-option:has(input[type="radio"]:checked) {
    background-color: #e8e8e8;
    color: #6a6a6a;
    border-color: #bebebe;
    padding: 2px 6px;
}
.cart-summary {
    margin-top: .3%;
    margin-right: 2.5%;
}
.summary-item-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5%;
}
.summary-item-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}
.summary-item-info {
    display: flex;
    flex-direction: column;
}
.summary-item-name {
    font-weight: 500;
    margin-bottom: 4px;
}
.summary-item-price {
    font-weight: 500;
}
.checkout-container {
    display: block;
}
@media (max-width: 768px) {
    .form-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .half-input {
        width: 50%;
    }
    .full-input {
        width: 100%;
    }
    .shipping-choice {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}